<div>
  <div id="particles-js"></div>

  <ul class="cb-slideshow">
    <li>home</li>
    <li>about</li>
    <li>contact us</li>
    <li>portfolio</li>
    <li>news</li>
    <li>updates</li>
  </ul>

  <div class="container-fluid">
    <div class="row cb-slideshow-text-container">
      <div class="tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
        <header class="mb-5"><h1>{{title}}</h1></header>
        <P class="mb-5"
          >Bookshop has 1000's ads available in Pakistan of goods for sale from books, novels,
          magazines, to jobs and services listings. Buy or sell something today!</P
        >

        <form action="#" method="get" class="subscribe-form">
          <div class="row form-section">
            <div class="col-md-7 col-sm-7 col-xs-7">
              <h2><a routerLink="login" >Login</a>  to Admin Dashboard</h2>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <!-- <button type="submit" class="tm-btn-subscribe">Login</button> -->
           </div>
          </div>
        </form>

        <div class="tm-social-icons-container text-xs-center">
          <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
          <a href="#" class="tm-social-link"
            ><i class="fa fa-google-plus"></i
          ></a>
          <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
          <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-link">
      <p>Copyright © {{currentYear}} Bookshop - Design: Mr. Ajmal</p>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
